<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" id="logo" alt="LibraryManagement">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Admin-Home->Maintenance</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">add-books</button>
          <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo">add-user</button>
        </form>
      </div>
    </div>
  </nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="user-name" class="col-form-label">username:</label>
            <input type="text" class="form-control" id="user-name">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">password:</label>
            <input type="text" class="form-control" id="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">add-new-user</button>
      </div>
    </div>
  </div>
</div>

<!-- home body -->
<div class="container vh-90 d-flex justify-content-center align-items-center">
  <div class="row text-center w-100">
    <!-- First box -->
    <div class="col-md-6 mb-4">
      <div class="p-5 border bg-danger text-white">
        <a class="nav-link active" aria-current="page" (click)="showBooks()" routerLink="/maintenance"><strong>Books</strong></a>
      </div>
    </div>
    <!-- Second box -->
    <div class="col-md-6 mb-4">
      <div class="p-5 border bg-success text-white">
        <a class="nav-link active" aria-current="page" (click)="showUsers()" routerLink="/maintenance"><strong>Users</strong></a>
      </div>
    </div>
  </div>
</div>


<!--books list details -->
<div class="container vh-90 d-flex justify-content-center align-items-center flex-column">
  <div class="container">
    <h1>Book Management</h1>
  
    <!-- Form to add new book -->
    <div class="mb-3">
      <h3>Add New Book</h3>
      <form (ngSubmit)="addBook()">
        <div class="form-group">
          <label for="bookName">Book Name</label>
          <input type="text" [(ngModel)]="newBook.bookName" name="bookName" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="authorName">Author Name</label>
          <input type="text" [(ngModel)]="newBook.authorName" name="authorName" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="available">Available</label>
          <input type="checkbox" [(ngModel)]="newBook.available" name="available">
        </div>
        <button type="submit" class="btn btn-primary">Add Book</button>
      </form>
    </div>
  
    <!-- Display list of books -->
    <h3>All Books</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Serial No</th>
          <th>Book Name</th>
          <th>Author Name</th>
          <th>Available</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td>{{book.id  }}</td>
          <td>{{ book.serialNo }}</td>
          <td>{{ book.bookName }}</td>
          <td>{{ book.authorName }}</td>
          <td>{{ book.available ? 'Yes' : 'No' }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteBook(book.id ?? 0)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  
<!-- add new user -->
<div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="user-name" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="user-name" [(ngModel)]="username" name="username">
            </div>
            <div class="mb-3">
              <label for="role" class="col-form-label">Role:</label>
              <select class="form-select" id="role" [(ngModel)]="role" name="role">
                <option value="USER" selected>User</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="addNewUser()">Add New User</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  (ngSubmit)="addBook()">
            <div class="form-group">
              <label for="bookName">Book Name</label>
              <input type="text" [(ngModel)]="newBook.bookName" name="bookName" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="authorName">Author Name</label>
              <input type="text" [(ngModel)]="newBook.authorName" name="authorName" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="available">Available</label>
              <input type="checkbox" [(ngModel)]="newBook.available" name="available">
            </div>
            <div class="form-group">
            <button type="button" class="btn btn-primary">add-new-book</button>
          </div>
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add new user -->
<div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="user-name" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="user-name" [(ngModel)]="username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
            </div>
            <div class="mb-3">
              <label for="role" class="col-form-label">Role:</label>
              <select class="form-select" id="role" [(ngModel)]="role" name="role">
                <option value="USER" selected>User</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="addNewUser()">Add New User</button>
        </div>
      </div>
    </div>
  </div>
</div>