<!-- src/app/login/login.component.html -->

<form class="container my-5" (ngSubmit)="login()">
  <h1 class="text-center mb-4 text-decoration-underline">Library Management System</h1>
  <h2 class="text-center mb-4">Login Now</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  </div>
</form>
